*{
    font-size: small;
}
:root {
--main-bg-color: #f00;
--main-text-color: #fff;
--second-text-color:#fff;
--second-bg-color: rgb(235, 221, 221);
--test-text-color: #021f4e;
}

.card-text{
    text-decoration: none;
    font-size: 14px;
}
.card-text:hover{
    color: var(--main-bg-color);
    transition: .75s;
}

.primary-text {
    color: var(--main-text-color);
}

.second-text {
color: var(--second-text-color);
}

.primary-bg {
    color: var(--main-bg-color);
   
}

.secondary-bg {
background-color: var(--second-bg-color);
}

.test-text {
color: var(--test-text-color);
}

.rounded-full {
border-radius: 100%;
}








#sidebar-wrapper {
    
    min-height: 100vh;
    padding: 0rem 0.2rem;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 2; /* Stay on top */
    overflow-x: hidden; /* Disable horizontal scroll */
   
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin .25s ease-out;

}

#sidebar-wrapper .sidebar-heading {
    padding: 12.875rem 1.25rem;
    font-size: 1.2rem;
}

body{
    height: 100%;
    background-color: rgb(255, 255, 255);
    background-size: cover;
}

#sidebar-wrapper .list-group {
    width: 15rem;
   

    
}

#page-content-wrapper {
    height: 100%;
    overflow-x:hidden;
    background: url('../images/bg.jpg');
    margin-left:15rem;
    min-width: 100vw;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin .25s ease-out;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#menu-toggle {
    cursor: pointer;
    color: #021f4e;
}

.list-group-item {
    border: none;
    padding: 20px 30px;
}

.list-group-item.active {

    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
}




@media (min-width: 0px){
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -16rem;
        
    }


    #wrapper.toggled #page-content-wrapper {
        margin-left:  -0.5rem;
        
    }

}
    


@media (min-width: 906px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        margin-left:15rem;
        min-width: 0;
        width: 100%;
        
    }
 

}

@media screen and (max-width: 900px) {
    h5.testfont {
      font-size: 20px;
    }
    h1.h1font{
      font-size: 25px;   
    }
    h3.testfont{
        font-size: 10px;
    }
    h2.testfont{
        font-size: 15px;
    }
    h4.testfont{
        font-size: 12px;
    }
    h1.testfont{
        font-size: 10px; 
    }
    span.anothertestfont{
        font-size: 20px;
    }
    select.dropdownstyle{
        width: 100px;
        height: 30px;
        overflow-y: hidden;
    }
    select.dropdownstyle option{
        width: 100px;
        height: 20px;
        overflow-y: hidden;
    }
    td.pricefont{
        font-size: 10px;
    }
    
    
  }



  @media screen and (min-width: 601px) {
    h5.testfont {
      font-size: 30px;
    }
    h1.h1font{
      font-size: 35px;   
    }
    h3.testfont{
        font-size: 15px;
    }
    h2.testfont{
        font-size: 20px;
    
    }
    h4.testfont{
        font-size: 18px;
    }
    h1.testfont{
        font-size: 20px; 
    }
    span.anothertestfont{
        font-size: 25px;
    }
    select.dropdownstyle{

        width: 300px;
        height: 40px;
    }
    select.dropdownstyle option{

        width: 3000px;
        height: 40px;
    }
    td.pricefont{
        font-size: 20px;
    }
    

  } 

/*Textbox test*/

